<head>
  <title>Welcome to Blakely Digital</title>
  <link rel="stylesheet" href="/home.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="https://use.typekit.net/oui6ruy.css" />
  <link rel="stylesheet" href="https://use.typekit.net/pcp3nqd.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
  <%- include('../partials/intro.ejs') %> <%-
  include('../partials/projects.ejs') %> <%- include('../partials/process.ejs')
  %> <%- include('../partials/contact.ejs'); %> <%-
  include('../partials/footer.ejs') %>
</body>
